[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==8.2.0"
molecule = "<6"
antsibull-docs = "==2.5.0"
coverage = "==6.5.0"
molecule-plugins = {extras = ["vagrant"], version = "==23.5.0"}
pytest = "==7.4.4"
pytest-forked = "==1.6.0"
pytest-xdist = "==3.3.1"
pyyaml = "==6.0.1"
pylint = "==3.0.3"
black = "==23.12.0"
